@{
    ViewData["Title"] = "Events";
}

<div class="text-center">
    
    <h1 class="display-4">Events</h1>
    @if (User.IsInRole("Admin")){
        <button type = "button" class="btn btn-dark" id ="addButton">Add</button>
    }
     
    @*<button type="button" class="btn" id ="viewButton"></button>*@
    <input type="text" class="" id="searchText" placeholder="Search" aria-label="Search" name ="search" onkeyup="tableSearch()"/>   
        <table class="table table-hover" id="peopleTable">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Score</th>
                    <th scope="col">Name Events</th>
                    <th scope="col">Status</th>
                    <th scope="col">Country and City</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>   
            </tbody>
        </table>     
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Events</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
            <table>
		        <tr hidden>
			        <td>
				        id:
			        </td>
			        <td>
				        <input type="text" placeholder="id" name ="id"/>
			        </td>
		        </tr>
            </table>
                <div class="container">
                    <label>Score</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Score" aria-label="Score" name="score">
                    </div>
                    <label>Name Events</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Name Events" aria-label="Name Events" name="nameEvents">
                    </div>
                    <label>Status</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Status" aria-label="Status" name="status">
                    </div>
                    <label>Country and City</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Country and City" aria-label="Country and City" name="countryAndCity">
                    </div>
                </div>                                                      
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="editSaveButton">ОК</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="editCancelButton">Отмена</button>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the entry?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="deleteSaveButton">OK</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="deleteCancelButton">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">ОШИБКА!!!!!!!!!
      </div>
    </div>
  </div>
</div>
